body{
    background-color: rgb(250, 247, 237) !important;
}

h3{
    font-family: Andale Mono, monospace;
}


.lado_esquerdo{
    background-color: #fccfc9;
    margin-left: 15%;
    height: 100% !important;
    min-height: 100% !important; 

    
}
.linhaconteudo{
    height: 100% !important;
    min-height: 100% !important; 
    position: fixed !important;
}

.foto_perfil{
    display: block;
    margin-left: 25px;
    margin-top: 10px;
    border-radius: 50%;
}    

.titulo_contato{
    color: #080808;
    text-align: center;
    text-transform: uppercase;
    font-size: medium;
    font-weight: 800;
    margin-top: 15px;
}

.material-icons{
    text-align: center;
    color: #cc8105;
}

.material-iconslink{
    display: flex;
    justify-content: space-evenly;
    margin: 18px;
    font-size: 2em;

}
a{
    color: #cc8105;
}

.bloco_informacao{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    font-family: Andale Mono, monospace
}

.descricao{
    font-size: 16px;
    color: black;
    font-weight: 600;
    font-family: Andale Mono, monospace;
    text-transform: uppercase;
    margin-right: 60px;
    font-size: small;
}

.lado_direito{
    background-color: white;
    
}


h1{
    font-family: Andale Mono, monospace;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    color: #f50d09;
    margin-top: 15px;
}
hr{
    height: 1px;
    background-color: black;
    width: 90%;

}

h2{
    font-family: Andale Mono, monospace;
    text-align: center;
    text-transform: uppercase;
    color: #ec8684;
    font-size: 28px;
}

h4{
    font-family: Andale Mono, monospace;
    color: #cc8105;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 800;
    
}

.skills{
    font-family: Andale Mono, monospace;
    
    margin-top: 8%;   
}

.end{
    font-weight: 800;
}


.texto{
    font-family: Andale Mono, monospace;
    margin-top: 2%;
    margin-left: 5%;
}

.final{
    margin-left: 70%;
    font-size: 12px;
    text-transform: uppercase;
}
